<div class="container">
  <input type="text" class="form-control"
         #myInput (input)="changeTitle(myInput.value)">
  <input type="text" class="form-control"
         [(ngModel)]="title">
  <!--<input type="text" class="form-control" (keyup)="changeTitle($event)">-->
  <p>{{title}}</p>
  <button [disabled]="isDisabled" class="btn btn-primary">My button</button>

  <hr>
  <input type="text" class="form-control" #itemInput placeholder="Type your content here" (keyup.enter)="addItem(itemInput.value)">
  <button class="btn btn-success" (click)="addItem(itemInput.value)">Add</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of arr; let i = index">{{i}} - {{user.name}} - {{user.age}}</li>
  </ul>
</div>
